<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../style/quizzer.css">
</head>
<body>
    <main id="main">
        <div class="header">
            <span>
                Category:
                <span id="category"> a </span>
            </span>
            <span>
                Counter: 
                <span id="count-down"> 10 </span>
            </span>
            <span>
                Attempt:
                <span id="ids"></span>
            </span>
        </div>
        <div class="screen">
            <div class="q-pane" id="q-pane">
            </div>
        </div>
        <div class="options">
            <button class="option">
                <span style="margin-right: 8px">A.</span>
                <span class="option-one opt"></span>
            </button>
            <button class="option">
                <span style="margin-right: 8px">B.</span>
                <span class="option-two opt"></span>
            </button>
            <button class="option">
                <span style="margin-right: 8px">C.</span>
                <span class="option-three opt"></span>
            </button>
        </div>
        <div class="btn-sec">
            <button class="prev">PREVIOUS</button>
            <button class="nxt">NEXT</button>
            <button class="finish">FINISH</button>
            <button class="skip">SKIP</button>
            <button class="refresh">START AGAIN</button>
        </div>
    </main>
    <script src="../js/quizzer.js">
    </script>
</body>
</html>